<%= form_for.form-horizontal([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field.form-control :commenter %>
  </p>
  <p>
    <%= f.label.control-label :body %><br>
    <%= f.text_area.form-control[rows="3"] :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>