<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
</head>
<main>
	<!--Main layout-->
	<div class="container">

	
<!--Section: Features v.1-->
<section class="section feature-box">

    <!--Section heading-->
    <!--Section sescription-->
    <p></p>
    <h2 class="section-description lead" style="margin-top:40px">Обучения ERP-системе "Галактика". Просмотр уроков, общение с одногруппниками, контроль знаний.</h2>

</section>
<!--/Section: Features v.1-->



<!--Projects section v.2-->
<section class="section">

    <!--First row-->
    <div class="row text-center">
    <% @articles.each do |article| %>


        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="<%= article.image %>">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="indigo-text"><h5><i class="fa fa-plane"></i> Модуль </h5></a>
                <h3><%= article.title %></h3>
                <p><%= article.description %></p>
                 <%= link_to(  article_path(article), :class => "btn btn-lg btn-indigo" ) do %>
            открыть
            <%end%>
            </div>

        </div>
        <!--/Third column-->
    <% end %>
    </div>
    <!--/First row-->
</section>
<!--/Projects section v.2-->
	


	<div class="row" >
		<!--Section: Testimonials v.3-->
		<section class="section team-section" >
			<!--Section heading-->
			<h1 class="section-heading text-center"></h1>
			<!--Section description-->
			<p class="section-description">Мы гордимся нашими клиентами, и они отвечают нам взаимностью!
				В этом разделе мы опубликовали лишь некоторые отзывы руководителей самых разных организаций, которые уже пользуются услугами банка в рамках зарплатного проекта. Мы будем рады видеть вас в числе наших клиентов!</p>
			<!--First row-->
			<div class="row text-center">
				<!--First column-->
				<div class="col-md-4 mb-r">
					<div class="testimonial">
						<!--Avatar-->
						<div class="avatar" style="margin:0 0 30px 40px;">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle img">
						</div>
						<!--Content-->
						<h4>Светлана Левченок</h4>
						<h5>Начальник отдела АСУП <br>«МАЗ-Купава» </h5>
						<p><i class="fa fa-quote-left"></i> После перехода на «Галактику ERP» мы автоматизировали бизнес-процессы учета операций оформления договорных отношений, операций снабжения, сбыта, складского учета производственных складов. Это позволило оптимизировать часть бизнес-процессов.</p>
						<!--Review-->
						<div class="orange-text">
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star-half-full"> </i>
						</div>
					</div>
				</div>
				<!--/First column-->
				<!--Second column-->
				<div class="col-md-4 mb-r">
					<div class="testimonial">
						<!--Avatar-->
						<div class="avatar" style="margin:0 0 30px 40px;">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle img-fluid">
						</div>
						<!--Content-->
						<h4>Татьяна Петренко</h4>
						<h5>Главный бухгалтер-аудитор Группы компаний «АЛЮТЕХ»</h5>
						<p><i class="fa fa-quote-left"></i> Галактика ERP» помогает автоматизировать и детализировать все хозяйственные операции, получать промежуточные результаты на любом этапе учета. Вся отчетность для руководства группы компаний формируется в «Галактике ERP».</p>
						<!--Review-->
						<div class="orange-text">
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
						</div>
					</div>
				</div>
				<!--/Second column-->
				<!--Third column-->
				<div class="col-md-4 mb-r">
					<div class="testimonial">
						<!--Avatar-->
						<div class="avatar" style="margin:0 0 30px 40px;">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid">
						</div>
						<!--Content-->
						<h4>Михаил Щербацевич</h4>
						<h5>Начальник отдела таможенной статистики и анализа ГТК РБ</h5>
						<p><i class="fa fa-quote-left"></i> Внедрение «Галактика ERP» положительно сказалась на автоматизации системы учета задержанных и конфискованных товаров. Проще говоря, система «Галактика ERP» помогла нам решить проблему учета конфиската. </p>
						<!--Review-->
						<div class="orange-text">
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star"> </i>
							<i class="fa fa-star-o"> </i>
						</div>
					</div>
				</div>
				<!--/Third column-->
			</div>
			<!--/First row-->
		</section>
		<!--Naked Form-->

<!--Section: Contact v.1-->
<section class="section mb-4">
    <!--Section sescription-->
    <p class="section-description mb-5"> Хотите сотрудничать? Остались вопросы? Напишите нам:</p>

    <div class="row">

        <!--First column-->
        <div class="col-md-5">

            <!--Form with header-->
            <div class="card">
            <%= form_for :article,  url: articles_path do |f| %>

                <div class="card-block">
                    <!--Header-->
                    <div class="form-header mdb-color">
                        <h3><i class="fa fa-envelope"></i> Задайте свой вопрос:</h3>
                    </div>
                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <%= f.text_field :name ,class: "form-control", id: "form3" %>
                        <label for="form3">Ваше имя</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <%= f.text_field :email ,class: "form-control", id: "form2" %>
                        <label for="form2">Ваш email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tag prefix"></i>
                        <%= f.text_field :organization ,class: "form-control", id: "form32" %> 
                        <label for="form32">Организация</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <%= f.text_area :text ,class: "md-textarea", id: "form8" %>
                        <label for="form8">Ваш вопрос</label>
                    </div>

                    <div class="text-center">
                    	<%= f.submit 'отправить', class: "btn btn-indigo"%>
                    </div>

                </div>

            </div>
            <!--/Form with header-->
<% end %>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7">

            <!--Google map-->
            <div id="map-container" class="z-depth-1-half map-container" style="height: 400px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.331116494321!2d27.593858214920566!3d53.92586103884704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf094cae505d%3A0x9f01f4bdd09e92d4!2z0YPQuy4g0KHRg9GA0LPQsNC90L7QstCwIDI4LCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1494100381824" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>

            <br>
            <!--Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="btn btn-large btn-indigo"><i class="fa fa-map-marker"></i></a>
                    <p>Минск, Сурганова, 28в</p>
                    
                </div>

                <div class="col-md-4">
                    <a class="btn btn-large btn-indigo"><i class="fa fa-phone prefix"></i></a>
                    <p>+375 (17) 294 99 88</p>
                    <p>Понедельник - Пятница, 8:00-18:00</p>
                </div>

                <div class="col-md-4">
                    <a class="btn btn-large btn-indigo"><i class="fa fa-envelope prefix"></i></a>
                    <p>pnr@galaktika.by</p>
                    <p>service@galaktika.by</p>
                </div>
            </div>

        </div>
        <!--/Second column-->

    </div>

</section>
	</div>
	<!--/.Second row-->
</div>
<!--/.Main layout-->
</main>
</html>
