	 <div style="height:50px;"></div>
	<div class="row">
<div class="d-flex justify-content-start">

<div class="chip well fixed" style="position: fixed"><span class="badge grey">Осталось времени:<h3 id="demo"></h3></div>
</span>
                <p id="demo"></p></div>

	<div class=" col-lg-6 offset-2 ">

		 
		  <div class="col text-center">
                <h5><%=@test.name%></h5>
                <br>
            </div>
        



			<!-- Display the countdown timer in an element -->

<script>
// Set the date we're counting down to
var countDownDate =new Date().getTime()+760000;

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Время истекло";
  }
}, 1000);
</script>


			<form>
			  <% @test.questions.each do |question|%>
<div class="list-group" style="margin-bottom:30px";>
  <a href="#" class="list-group-item active">
    <%=question.text%>
  </a>
  <fieldset class="list-group-item" id=<%=question.id%>>
				    <% question.answers.each do |answer| %>
				    <fieldset class="form-group">
					    <input name=<%=question.id%> style="margin:7px 7px 0 0 ; float:left;" type="radio" id="radio1" />
					    <label for=<%=question.id%>><%= answer.answer %></label>
					</fieldset>
					<% end %>
					</fieldset> 
</div>
			

					
			<%end%>
			</form>
		<button class="btn btn-success">Ответить →</button>
		</div>
	</div>	

