
	<div class="row">
		<div class=" col-lg-6 offset-3 ">

		  <div class="page-header">
		  <h1><%=@test.name%> <small>Новый</small></h1>
		  </div>




			<form>
			  <% @test.questions.each do |question|%>

				<div class="card card-block" style="margin-bottom:30px;">
				    <h4 class="card-text"><%=question.text%></h4>
				    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				    <fieldset class="form-group" id=<%=question.id%>>
				    <% question.answers.each do |answer| %>
				    <fieldset class="form-group">
					    <input name=<%=question.id%> style="margin:7px 7px 0 0 ; float:left;" type="radio" id="radio1" />
					    <label for=<%=question.id%>><%= answer.answer %></label>
					</fieldset>
					<% end %>
					</fieldset> 
				</div>

					
			<%end%>
			</form>
		<button class="btn btn-success">Подтвердить</button>
		</div>
	</div>	
