<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-form navbar-right">

	<% if user_signed_in? %>
	    <div class="form-group">Здравствуйте, <%= current_user.email %></div>
	    	<%= button_to 'Выйти', destroy_user_session_path, :method => :delete,:class => "btn"%>
	<% else %>
	   	 <%= button_to 'Войти', new_user_session_path, :class =>"btn" %> или <%= link_to 'Зарегистрироваться', new_user_registration_path , :class =>"btn"%>
	<% end %>
   </div>

</nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
