<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-form navbar-right">

	<% if user_signed_in? %>
	    <div class="form-group">Здравствуйте, <%= current_user.email %></div>
	    	<%= button_to 'Выйти', destroy_user_session_path, :method => :delete,:class => "btn"%>
	<% else %>
	   	 <%= link_to new_user_session_path, :class =>"btn" do %><button class="btn btn-success">Войти</button>
	   	 <%end%>
	   	 <%= link_to  new_user_registration_path do%>
	   	 <button class="btn btn-info">Зарегистрироваться</button>
	   	 <%end%>
	<% end %>
   	</div>

</nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
