
<!DOCTYPE html>
<html>
<head>
  <title>Галактика</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:3000/articles">Галактика</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Ссылка</a></li>
          <li><a href="#">Ссылка</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Действие</a></li>
              <li><a href="#">Другое действие</a></li>
              <li><a href="#">Что-то еще</a></li>
              <li class="divider"></li>
              <li><a href="#">Отдельная ссылка</a></li>
              <li class="divider"></li>
              <li><a href="#">Еще одна отдельная ссылка</a></li>
            </ul>
          </li>
        </ul>
       <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Отправить</button>
        </form>-->

        <form class="navbar-form navbar-right">
          <div class="btn-group">
            <% if user_signed_in? %>
              <button type="button" class="btn btn-default ">Здравствуйте, <%= current_user.email %></button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               <span class="caret"></span>
               <span class="sr-only">Меню с переключением</span>
             </button>
             <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete%></li>
            </ul>
          <% else %>
            <button type="button" class="btn btn-success">Вход</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Меню с переключением</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Войти', new_user_session_path %></li>
              <li><%= link_to  'Регистрация', new_user_registration_path%></li>
            </ul>     
          <% end %>
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



          </head>

          <body>
            <%= yield %>
          </body>
          


          

          </html>
